AddKeysToAgent yes
CanonicalDomains example.org dev.example.org
CanonicalizeFallbackLocal yes
CanonicalizeHostname yes
CanonicalizeMaxDots 1
ControlMaster auto
ControlPersist 180m
ForwardAgent yes
ForwardX11Timeout 596h
# ForwardX11Trusted no
GSSAPIAuthentication no
HashKnownHosts no
LogLevel quiet
NoHostAuthenticationForLocalhost yes
ServerAliveInterval 55
# StrictHostKeyChecking no

# include ~/.ssh/config-projectX

host !*/* *
  controlpath ~/.tmp/%L/ssh/%r@%h:%p

host */*
  controlpath ~/.tmp/%L/ssh/%C

host !bastion* !git@git* *.example.org
  # old method, then new method
  # proxycommand ssh bastion.example.org -W %h:%p
  proxyjump bastion.example.org

host lza lzalpha
  hostname lzalpha.example.org
  dynamicforward 8001
  # basic port forward
  localforward 5901 vncserver:5901

host lzb lzbravo
  hostname lzbravo.example.org
  dynamicforward 8002

host ec2-user@lzb*
  identitiesonly yes
  identityfile ~/.ssh/keys/sys-example.org-bastion.pem

host centos@* ec2-user@* ubuntu@*
  identitiesonly yes
  identityfile ~/.ssh/keys/example.org.pem
  identityfile ~/.ssh/keys/other.pem

host *.example.org.local 
  proxyjump lzbravo

host ident1.github.com
  hostname github.com
  user git
  controlpath ~/.tmp/%L/ssh/%r@ident1.%h:%p
  identitiesonly yes
  identityfile ~/.ssh/vault/ident1

host ident2.github.com
  hostname github.com
  user git
  controlpath ~/.tmp/%L/ssh/%r@ident1.%h:%p
  identitiesonly yes
  identityfile ~/.ssh/vault/ident2

host *test*
  userknownhostsfile /dev/null

host *+*
  proxycommand ssh $(dirname $(echo %h|tr '+' '/' )) -W $(basename $(echo %h|tr '+' '/')):%p

host */*
  proxycommand ssh $(dirname %h) -W $(basename %h):%p

