# /.CFUserTextEncoding
# /.ICEauthority
# /.ansible/
# /.archive/
# /.bridge/
# /.config/
# /.cups/
# /.disabled/
# /.fusion/
# /.fzf*
# /.gnupg*
# /.grip/
# /.kube/
# /.lemminx/
# /.lesshst
# /.local
# /.m2/
# /.minikube/
# /.noscreen
# /.npm/
# /.openjfx/
# /.rbenv/
# /.redhat/
# /.rest-client/
# /.terraform.d/
# /.viminfo
# /.vmware
# /.zsh_sessions/
/[^\.]*
/.*
!/.files

/.ssh/*
!/.ssh/config.example
!/.ssh/config.satellite
!/.ssh/rc
