/.CFUserTextEncoding
/.ICEauthority
/.bridge/
/.cups/
/.fusion/
/.fzf*
/.gnupg*
/.kube/
/.lemminx/
/.lesshst
/.local/
/.m2/
/.noscreen
/.npm/
/.openjfx/
/.rbenv/
/.redhat/
/.terraform.d/
/.viminfo
/.zsh_sessions/
/[^\.]*

/.ssh/*
!/.ssh/config.example
!/.ssh/config.satellite
!/.ssh/rc
