[user]
  name = sean.conley
[core]
  autocrlf = input
  pager = less -S
  excludesfile = ~/.gitignore_global
[init]
  defaultBranch = main
[fetch]
  multiple = true
  parallel = 12
  prune = true
  prunetags = true
[push]
  default = current
[pull]
  default = current
  rebase = true
[rebase]
  autostash = true
[alias]
  difflist = !git diff --name-only
  permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
  sync = !git fetch --all && git pull && git push --all all
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[color]
  ui = true
[format]
  pretty = format:%h %Cblue%ai%Creset %<(33,trunc)%ae %Cblue%d%Creset %Cgreen%s%Creset
[diff "sopsdiff"]
  textconv = sops -d
[credential]
  helper = cache --timeout=43200
